@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .animation-delay-150 {
    animation-delay: 0.15s;
  }

  .animation-delay-300 {
    animation-delay: 0.3s;
  }
  /* Custom scrollbar styles */
  .scrollbar-thin {
    scrollbar-width: thin; /* For Firefox */
  }

  /* Webkit (Chrome, Safari, Edge) */
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .scroll-container:hover {
    animation-play-state: paused;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* For Webkit browsers */
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #05d31f;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #05d31f;
  }

  /* For Firefox */
  .custom-scrollbar {
    scrollbar-color: #05d31f #f0f0f0;
    scrollbar-width: thin;
  }
}
